spring:
  cache:
    type: redis
    redis:
      cache-null-values: false
      enable-statistics: true
      time-to-live: 2500ms
  r2dbc:
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    url: r2dbc:postgresql://postgresql:5432
    name: ${DB_NAME}
  data:
    redis:
      password: ${REDIS_PASSWORD}
      ssl:
        enabled: true
  boot:
    admin:
      client:
        url: http://localhost:8080
management:
  endpoints:
    web:
      base-path: /actuator/exchange-service
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always